doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="styles.min.css")
        title Esteticar Vigo
    body 
        header
            img(src="img/logotipo-esteticar-fondo-transparente.webp" alt="logo esteticar")
            nav
                ul
                    li
                        a(href="#services") Servicios
                    li
                        a(href="#contact") Contacto

        .main-div
            img.main-picture(src="img/main-picture.webp" alt="imagen del taller con coches") 
            p.main-text Tu taller de confianza
        
        .services
            h2#services Servicios
            div
                img(src="img/service-icons/car-painting.png")
                h3 Chapa y pintura
            div
                img(src="img/service-icons/oil-bottle.png")
                h3 Aceites
            div
                img(src="img/service-icons/tire.png")
                h3 Ruedas
            div
                img(src="img/service-icons/car-wash.png")
                h3 Lavado
            div
                img(src="img/service-icons/freno-de-disco.png")
                h3 Frenos
            div
                img(src="img/service-icons/car-battery.png")
                h3 Baterías
            div
                img(src="img/service-icons/car-repair.png")
                h3 Diagnosis
            div
                img(src="img/service-icons/tubo-de-escape.png")
                h3 Escapes
        div.contact
            h2#contact Contacto
            p Carretera Bembrive Nº 213
            p Tel.: 666 834 873
            p esteticarvigo@hotmail.com

        div.social-media
            a(href="https://www.instagram.com/esteticarvigo/?hl=en")   
                img(src="img/instagram.svg")
