body{
    margin: 0px;
}
header{
    background-color: black;
    display: flex;
    flex-direction: row;
    img{
        height: 200px;
        padding: 20px;
    }
    ul{
        display: flex;
        list-style: none;
        li{
            margin:20px;
            a{
                color: white;
            }
        }
    }
}
